<!DOCTYPE html>
<html lang="en">
<head>
    <title>CatSocial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://icons.getbootstrap.com/icons/image/">
    <link href="/public/stylesheets.css" rel="stylesheet">
    <script src="/public/main.js"></script>
</head>
<body>
  <%-include("header")%>
    <div id="mySidenav" class="sidebar">
        <button href="javascript:void(0)" class="closebtn" id="closeNav">&times;</button>
        <h1 class="text-siderbar">Notified by department</h1>
        <a href="/CTHSSV" data-id="Phòng Công tác học sinh sinh viên (CTHSSV)" class="navlink-siderbar">Phòng Công tác học sinh sinh viên (CTHSSV)</a>
        <a href="/PhongDaiHoc" data-id="Phòng Đại học" class="navlink-siderbar">Phòng Đại học</a>
        <a href="/PhongSauDaiHoc" data-id="Phòng Sau đại học" class="navlink-siderbar">Phòng Sau đại học</a>
        <a href="/PhongDienToanMayTinh" data-id="Phòng điện toán và máy tính" class="navlink-siderbar">Phòng điện toán và máy tính</a>
        <a href="/PhongKhaoThi" data-id="Phòng khảo thí và kiểm định chất lượng" class="navlink-siderbar">Phòng khảo thí và kiểm định chất lượng</a>
        <a href="/PhongTaiChinh" data-id="Phòng tài chính" class="navlink-siderbar">Phòng tài chính</a>
        <a href="/PhongLC" data-id="TDT Creative Language Center" class="navlink-siderbar">TDT Creative Language Center</a>
        <a href="/TTTH" data-id="Trung tâm tin học" class="navlink-siderbar">Trung tâm tin học</a>
        <a href="/SDTC" data-id="Trung tâm đào tạo phát triển xã hội (SDTC)" class="navlink-siderbar">Trung tâm đào tạo phát triển xã hội (SDTC)</a>
        <a href="/ATEM" data-id="Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)" class="navlink-siderbar">Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</a>
        <a href="/TTHTDN" data-id="Trung tâm hợp tác doanh nghiệp và cựu sinh viên" class="navlink-siderbar">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</a>
        <a href="/TTNNTH" data-id="Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa" class="navlink-siderbar">Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa</a>
        <a href="/VCS" data-id="Viện chính sách kinh tế và kinh doanh" class="navlink-siderbar">Viện chính sách kinh tế và kinh doanh</a>
        <a href="/KhoaLuat" data-id="Khoa luật" class="navlink-siderbar">Khoa Luật</a>
        <a href="KhoaMyThuatCongNgiep" data-id="Khoa Mỹ thuật công nghiệp" class="navlink-siderbar">Khoa Mỹ thuật công nghiệp</a>
        <a href="/KhoaDien" data-id="Khoa Điện-điện tử" class="navlink-siderbar">Khoa Điện-Điện tử</a>
        <a href="/KhoaCntt" data-id="Khoa Công nghệ thông tin"class="navlink-siderbar">Khoa Công nghệ thông tin</a>
        <a href="/KhoaQTKD" data-id="Khoa Quản trị kinh doanh" class="navlink-siderbar">Khoa Quản trị kinh doanh</a>
        <a href="/KhoaMoiTruong" data-id="Khoa Môi trường và bảo hộ lao động" class="navlink-siderbar">Khoa Môi trường và bảo hộ lao động</a>
        <a href="KhoaLDCD" data-id="Khoa Lao động công đoàn" class="navlink-siderbar">Khoa Lao động công đoàn</a>
        <a href="KhoaGDQT" data-id="Khoa giáo dục quốc tế" class="navlink-siderbar">Khoa giáo dục quốc tế</a>
        <a href="KhoaTCNH" data-id="Khoa Tài chính ngân hàng" class="navlink-siderbar">Khoa Tài chính ngân hàng</a>
    </div>
    <div id="main">
       <button id="openNav" class="openbtn">&#9776;</button>
        <!--icon bar-->
        <a class="icon-bar" href="/"><i class="fa fa-home"></i></a>
        <h3><%=locals.faculty%></h3>
        <%doc.forEach(d=>{%>
       <div class="card">

        
        <div class="card-body">
          <h4><a href="/detailNotify" id="styleFont"><%=d.title%></a></h4>
        </div>
      <%})%>
      </div>
    </div>
</body>

</html>