<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>tài khoản không được phép truy cập, vui lòng đăng xuất và đăng nhập bằng tài khoản sinh viên </p>
    <a href="/logout">sign out</a>
</body>
</html>