<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">CatSocial</a>
    <img class="mr-3" src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" alt="" width="50" height="50">
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">schedule</a>
        </li>
        
                    </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/edit-account">Edit account</a>
            <a class="dropdown-item" href="/logout">Sign out</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control" placeholder="Search">
        <button class="btn btn-danger">Search</button>    
      </form>
    </div>
  </nav>

  <div class="nav-scroller bg-black box-shadow">
    <nav class="nav nav-underline">
      <a class="nav-link" href="friends.html">
        Friends
        <span class="badge badge-pill bg-light align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">Explore</a>
      <a class="nav-link" href="#">Group</a>
      <a class="nav-link" href="/createNotification">Classwork</a>
    </nav>
  </div>