<!doctype html>
<html lang="en">
<head>
    <title>CatSocial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link href="style.css" rel="stylesheet">
</head>
<body class="text-center bg-dark"> 
    <main class="form-signin bg-light">
        <h2 class="text-login"><a href="#">CatSocial</a></h2>
        <img class="mr-4" src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" alt="" width="70" height="70">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="body-login">
          <form action="" method="" class="container" >
            <div class="form-floating">
                <input type="email" placeholder="username@example.com" id="email" name="username" required>
            </div>
            <div class="form-floating">
                <input type="password" placeholder="Enter Password" id="password" name="password" required>
            </div>
            <div class="checkbox mb-3"> 

            </div>
            <label class="text">
            <input  type="checkbox" checked="checked" name="remember" style="margin-bottom:15px; "> Remember me
            </label>
            <br>
            <button type="submit" class="btn btn-primary" id="btn-login" name="login" >Login</button>
            <hr>
            <button type="submit" class="btn btn-danger" id="btn-login" name="login" >Register</button>
          </form>
        </div>
    </main>  
</body>
</html>
